.fixed_sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2E8B57; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 50px 50px 50px 50px;
}
