body {
    background-color: #424949;
    font-family: 'Poppins', sans-serif;
}

div {
    color: #F5F5F5;
}

.fixed_sidebar {
    height: 100%; /* Full-height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar(stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Stay at the left */
    background-color: #2E8B57; /* Green */
    overflow: hidden;
    padding: 50px 50px 25px 50px;
    text-align: center;
}

.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 50px 100px 50px 200px;
}

h2 {
    color: #DC143C;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 75px 0 0 -50px;
    text-align: left;
}

li {
    margin: 20px 0 20px;
}

.icon {
    float: left;
    width: 10%;
    height: 10%;
    margin-right: 25px;
}

.academic {
    margin-bottom: 150px;
}

span {
    color: #B3B6B7;
}

a {
    text-decoration: none;
}

.skills {
    width: 90%;
    background-color: #B3B6B7;
    border-radius: 15px;
    margin: 20px 0 50px 0;
}
  
#python {
    width: 90%;
    height: 5px;
    background-color: #6C3483;
}

#git {
    width: 80%;
    height: 5px;
    background-color: #6C3483;
}

#sql {
    width: 60%;
    height: 5px;
    background-color: #6C3483;
}

#front {
    width: 45%;
    height: 5px;
    background-color: #6C3483;
}
