body {
    background-color: #424949;
    font-family: 'Poppins', sans-serif;
}

div {
    color: #F5F5F5;
}

.fixed_sidebar {
    height: 100%; /* Full-height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar(stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0; /* Stay at the left */
    background-color: #2E8B57; /* Green */
    overflow: hidden;
    padding: 50px 50px 25px 50px;
    text-align: center;
}

.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 50px 100px 50px 200px;
}

h2 {
    color: #DC143C;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 75px 0 0 -50px;
    text-align: left;
}

li {
    margin: 20px 0 20px;
}

.icon {
    float: left;
    width: 10%;
    height: 10%;
    margin-right: 25px;
}

.academic {
    margin-bottom: 150px;
}
